.task__state {
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.backlog {
  background-color: orange;
}

.in_progress {
  background-color: blue;
}

.completed {
  background-color: green;
}

h1 {
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  background: #f9f9f9;
}
